{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/proj.css' %}">
        
    </head>
    <body>
            <div class="page-header">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                {% endif %}
                <h1><a href="">Django Girls Blog</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>

                {% load staticfiles %}
                <a href="{% url 'test' %}" id='test'><h1>hi</h1></a>
                <img width="100px" id = 'pic'>
            </div>
        
        <script src='https://code.jqeury.com/jquery-3.2.1.min.js'></script>
        <script type = 'text/javascript'>
            $('#test').click(function){
                $.ajax({
                    url : "{% url 'test' %}",
                    success : function(response){
                        alert('분석이 완료되었습니다');
                        $(#pic).attr("src", response.url);

                    },
                });
            }
        
        
        </script>
      

        </body>
</html>